<h2>Inserimento autore</h2>
<form [formGroup]="autoreForm" class="mt-4" (ngSubmit)="inviaDati(autoreForm)">
  <!--  validazione dati dopo il submit  -->
  <div *ngIf="autoreForm.errors" class="alert alert-danger">Dati invalidi</div>
  <div formGroupName="autore">
    <div class="form-group">
      <label for="nome">Nome autore</label>
      <!--  il formControlName deve essere uguale a quello nel component ts-->
      <input
        formControlName="nome"
        id="nome"
        type="text"
        class="form-control">
      <!-- il metodo get ha accesso a tutti gli oggetto formControl-->
      <!--  <div *ngIf="userForm.get('nome_autore').touched && userForm.get('nome_autore').invalid" class="alert alert-danger">-->
      <!-- oppure in maniera meno verbosa-->
      <!--  nome_autore è il nome del getter definito nel componente -->
      <div *ngIf="nome_autore && nome_autore.touched && nome_autore.invalid" class="alert alert-danger">
        <div *ngIf="nome_autore.errors.required">Nome obbligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <label for="cognome">Cognome autore</label>
      <input
        formControlName="cognome"
        id="cognome"
        type="text"
        class="form-control">
      <div *ngIf="cognome_autore && cognome_autore.touched && cognome_autore.invalid" class="alert alert-danger">
        <div *ngIf="cognome_autore.errors.required">Cognome obbligatorio</div>
        <div *ngIf="cognome_autore.errors.minlength">Il cognome deve avere
          minimo {{cognome_autore.errors.minlength.requiredLength}}
          caratteri
        </div>
      </div>
    </div>

    <!--    <div class="form-group">-->
    <!--      <label>Data nascita autore</label>-->
    <!--      <input-->
    <!--        formControlName="data_nascita"-->
    <!--        id="datanascita"-->
    <!--        type="text"-->
    <!--        class="form-control">-->
    <!--      <div *ngIf="data_nascita && data_nascita.touched && data_nascita.invalid" class="alert alert-danger">-->
    <!--        <div *ngIf="data_nascita.errors.required">Data nascita obbligatoria</div>-->
    <!--        <div *ngIf="data_nascita.errors.minlength">Minimo {{data_nascita.errors.minlength.requiredLength}}caratteri-->
    <!--        </div>-->
    <!--        <div *ngIf="data_nascita.errors.cannotContainSpace">La data di nascita non deve contenere gli spazi</div>-->
    <!--      </div>-->
    <!--    </div>-->

    <div class="form-group">
      <label for="datanascita">Data nascita autore</label>
      <div class="input-group">
        <input formControlName="data_nascita"
               id="datanascita" class="form-control" placeholder="yyyy-mm-dd"
               name="d2" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
        </div>
      </div>
      <!-- <app-datepicker-adapter></app-datepicker-adapter>-->
    </div>

  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!autoreForm.valid">Salva autore</button>
</form>
