<h2 style="padding-top: 20px">{{getTitle()}}</h2>
<ul>
  <li *ngFor="let libro of libri">
    {{libro}}
  </li>
</ul>
<button class="btn btn-primary">Save</button>
<!-- class and style binding -->
<button [class.alert-danger]="isActive">Save</button>
<button [style.backgroundColor]="!isActive ? 'red' : 'blue'">Save</button>
<!-- puoi anche non passare il parametro ($event)-->
<div (click)="onDivClicked()">
  <button (click)="onClick($event)">Save</button>
</div>
<input (keyup)="onKeyUp($event)" placeholder="evento 1"/>
<!-- se vuoi gestire il solo evento enter-->
<input (keyup.enter)="onKeyUp($event)" placeholder="evento enter"/>
<!-- puoi referenziare anche questo input field-->
<input #mail (keyup.enter)="onTextEnter(mail.value)" placeholder="variabile template"/>
<!-- binding two way -->
Binding due vie:
<input [(ngModel)]='twoWay' (keyup.enter)="onTwoWayBinding()"/>

<div>
  <h2 class="my-3">Pipes</h2>
  <p>{{libro.titolo | uppercase}}</p>
  <p>{{libro.pagesNumber | number}}</p>
  <p>prezzo: {{libro.price | currency:'AUD':false:'3.2-2'}}</p>
  <p>ratings: {{libro.ratings | number:'1.2-3'}}</p>
  <p>{{libro.autore}}</p>
  <p>{{libro.isbn}}</p>
<!-- per i formati possibili vai su angular datePipe -->
  <p>{{libro.releaseDate | date: 'shortDate'}}</p>
</div>



