<!--<app-libro [isRed]="libroLetto" (greetEvent)="greet()"> hello world </app-libro>-->

<!--<app-autore></app-autore>-->

<!--le seguenti andranno bene per connessione a spring-->
<!--<app-autore-form></app-autore-form>-->
<!--<app-libro-form></app-libro-form>-->

<div class="row m-2" style="border: 1px solid red">
  <div class="col">
    Inserisci autore
    <signup-form></signup-form>
  </div>
  <div class="col">
    <app-autori-component></app-autori-component>
  </div>
</div>
<div class="row m-2" style="border: 1px solid red">
  <div class="col">
    Inserisci libro
    <signup-form></signup-form>
  </div>
  <div class="col">
   <app-libri-component></app-libri-component>
  </div>
</div>

Esempio lista con cancellazione su li al click:
<app-new-libro-form></app-new-libro-form>

<router-outlet></router-outlet>
