<div class="row m-2" style="border: 1px solid red">
  <div class="col-5">
    <app-autore-form-register></app-autore-form-register>
  </div>
  <div class="col-7">
    <app-autori-component></app-autori-component>
  </div>
</div>
<div class="row m-2" style="border: 1px solid red">
  <div class="col-5">
    <!-- <app-libro-form></app-libro-form>-->
    <app-libro-form-register></app-libro-form-register>
  </div>
  <div class="col-7">
    <app-libri-component></app-libri-component>
  </div>
</div>

<!--Esempio lista con cancellazione su li al click: (poi ci sono diversi componenti senza logica)-->
<!--<app-new-libro-form [isRed]="libroLetto" (greetEvent)="greet()"></app-new-libro-form>-->

<router-outlet></router-outlet>
