<button (click)="loadAutori()">Carica autori</button>

<div *ngIf="autori.length > 0; then elencoAutori else noAutori">Lista autori</div>
<ng-template #elencoAutori>
  <h2> Autori</h2>
  <button (click)="aggiungiAutore()">Aggiungi autore</button>
  <ul>
    <li *ngFor="let autore of autori; trackBy: trackAutore">{{ autore.nome }}
      <button (click)="removeAutore(autore)">Remove</button>
      <button (click)="updateAutore(autore)">Update</button>
    </li>
  </ul>
</ng-template>
<ng-template #noAutori><h2>Nessun autore</h2>h2></ng-template>
<div [ngSwitch]="dietSelection">
  <p *ngSwitchCase="'gf'">Gluten-free</p>
  <p *ngSwitchCase="'veg'">Vegetarian / Vegan</p>
  <p *ngSwitchCase="'paleo'">Paleo</p>
  <p *ngSwitchDefault>Standard diet</p>
</div>

<span appInputFormat>Prova direttiva custom</span>
