<h2>Elenco autori</h2>
<div class="row">
  <div class="col-7">
    <ul class="pl-0">
      <li class="list-group-item" *ngFor="let autore of autori;  trackBy: trackAutore">
        {{autore.nome_autore}}
        {{autore.cognome_autore}}
        <!-- per i formati possibili vai su angular datePipe -->
        {{autore.data_nascita | date: 'shortDate'}}
        <div>
          <button class="btn btn-primary" (click)="mostraLibri(autore)">Mostra libri</button>
          <button class="btn btn-danger" (click)="removeAutore(autore)">Remove</button>
          <!--  <button (click)="updateAutore(autore)">Update</button>-->
        </div>
      </li>
    </ul>
  </div>
  <div class="col-5">
    <div *ngIf="libriByAutore && libriByAutore.length > 0; then elencoAutori else noLibri">
      Elenco libri di {{autoreSelected}}
    </div>
    <ng-template #elencoAutori>
      <h2> Libri dell'autore {{autoreSelected}}</h2>
      <ul class="pl-0">
        <li class="list-group-item" *ngFor="let libro of libriByAutore;">
          {{libro.titolo}}
        </li>
      </ul>
    </ng-template>
    <ng-template #noLibri><h4 *ngIf="autoreSelected !== null">Nessun libro trovato per {{autoreSelected}}</h4></ng-template>
    <h4 *ngIf="autoreSelected === null">Nessun autore selezionato</h4>
  </div>
</div>

