<h2>Elenco autori</h2>
<div class="row">
  <div class="col">
    <ul class="pl-0">
      <li class="list-group-item" *ngFor="let autore of autori">
        {{autore.nome_autore}}
        {{autore.cognome_autore}}
        <!-- per i formati possibili vai su angular datePipe -->
        {{autore.data_nascita | date: 'shortDate'}}
        <div>
          <button class="btn btn-primary" (click)="updateAutore(autore)">Update autore</button>
          <button class="btn btn-danger ml-2" (click)="removeAutore(autore)">Rimuovi autore</button>
<!--          <button class="ml-2 btn btn-primary" (click)="mostraLibri(autore)">Mostra libri</button>-->
          <a [routerLink]="['/autore', autore.id_autore]" class="btn btn-success ml-2">Mostra libri</a>
        </div>
      </li>
    </ul>
  </div>
</div>

