<h2>Inserimento autore</h2>
<form #formAutore=ngForm (ngSubmit)="submit(formAutore)">

  <div ngModelGroup="gruppoAutore" #gruppoAutore="ngModelGroup">
    <div *ngIf="gruppoAutore.touched && !gruppoAutore.valid">
      Messaggi di errore di tutto il gruppo ...
    </div>
    <div class="form-group">
      <label for="nomeAutore">Nome</label>
      <!-- validazione template driven -->
      <!--    #nomeAutore="ngModel" è un referrence che serve per la validazione di dopo con ngIf-->
      <!--    nomeAutore.touched = se l'utente ha cliccato sul campo e si è allontanato-->
      <input
        required minlength="4" pattern="[a-zA-Z ]*"
        ngModel name="nomeAutore" #nomeAutore="ngModel" (change)="log(nomeAutore)"
        id="nomeAutore" type="text"
        class="form-control"/>

      <!--    messaggio di errore singolo -->
      <!--    <div class="alert alert-danger" *ngIf="nomeAutore.touched && !nomeAutore.valid">Il nome deve avere minimo {{nomeAutore.errors.minlength.requiredLength}} caratteri</div>-->

      <!--   messaggi diversi per i diversi tipi di errore: -->

      <div class="alert alert-danger" *ngIf="nomeAutore.touched && !nomeAutore.valid">
        <div *ngIf="nomeAutore.errors.required">Nome obbligatorio</div>
        <div *ngIf="nomeAutore.errors.minlength">Il nome deve avere
          minimo {{nomeAutore.errors.minlength.requiredLength}} caratteri
        </div>
        <div *ngIf="nomeAutore.errors.pattern">Il nome deve contenere solo lettere</div>
      </div>
    </div>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel #checkAutore name="isSubscribed">Subscribe to mailing list
    </label>
  </div>

  <div class="form-group">
    <label for="contactMethod">Contact method</label>
    <!-- se voglio poter fare una selezione multipla uso l'attributo multiple-->
    <select ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value=""></option>
      <option *ngFor="let method of contactMethod" [value]="method.id">{{method.value}}</option>

      <!-- l'attributo value può essere solo una stringa, se voglio inviare un oggetto complesso al server uso ngValue -->
      <!--      <option *ngFor="let method of contactMethod" [ngValue]="method">{{method.value}}</option>-->
    </select>
  </div>

  <!--  hard coded-->
  <!--  <div class="radio">-->
  <!--    <label>-->
  <!--      <input ngModel type="radio" name="contactMethodRadio" value="1">Email-->
  <!--    </label>-->
  <!--  </div>-->
  <!--  <div class="radio">-->
  <!--    <label>-->
  <!--      <input ngModel type="radio" name="contactMethodRadio" value="2">Phone-->
  <!--    </label>-->
  <!--  </div>-->

  <div *ngFor="let method of contactMethod" class="radio">
    <label>
      <!--  puoi usare anche ngValue come fatto prima-->
      <input ngModel type="radio" name="contactMethodRadio" [value]="method.id">{{method.value}}
    </label>
  </div>
  <p> {{formAutore.value | json}}</p>
  <button class="btn btn-primary" [disabled]="!formAutore.valid">Submit</button>
</form>
